{% extends "base.html" %}
    {% load static %}


  

    {% block css_files %}

    <link rel="stylesheet" href="{% static "booking/book.css"  %}" />
    {% endblock%}
<!-- 
    <title>{% block title%}
        Make your booking
        {% endblock%}</title> -->


    {% block content%}
     <form action="/" method="POST">
       {% csrf_token%}
       {{form}}
       <input type="submit" value="submit">
     </form>

<!-- 
    <form action="/" method="POST">
      {%csrf token%}
        <div class="elem-group">
          
          <label for="  {{forms.name.name}}">Your Name</label>
         "{{name}}" 
        </div>
        <div class="elem-group">
           
          <label for="{{forms.email.email}}">Your E-mail</label>
         "{{email}}" 
        </div>
        <div class="elem-group">
          
          <label for="{{forms.phone.phone}}">Your Phone</label>
         "{{phone}}" 
        </div>
        <hr>
        <div class="elem-group inlined">
          
          <label for="{{forms.number_of_guests.guests}}">Number of guests</label>
          "{{number_of_guests}}"
        </div>
       
        <div class="elem-group inlined">
           
          <label for="{{forms.date.date}}"> Date</label>
          "{{date}}"
        </div>
        <div class="elem-group inlined">
           
          <label for="{{forms.time.time}}">time</label>
          "{{time}}" 
        </div>
        
        <div class="elem-group">
           
          <label for="{{ forms.message_to_restaurant}} ">Leave a messgae to the restaurant</label>
         "{{message_to_restaurant}}" 
        </div>
        <button type="submit"> Make reservation </button>
      </form> -->

    {% endblock%}
