{% extends 'base.html'%}
{% load static %}

{% block title%} Cancel Booking {%endblock%}

{% block css_files%}
<link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
{% endblock %}


{%block content%}
<h2>Cancel Booking</h2>
<p> Are you sure you would like to cancel this booking for {{object.user_name}} on the {{object.date_of_month}} at {{object.time_of_day}}?</p>


<form  action=" {% url 'booking:cancel'%}" method="POST">
  {% csrf_token %}
  {{ form }}

  {% for reservation in reservations %}
  <p>{{ reservation.name_user }}</p>
  <a href="{% url 'cancel' reservation.pk %}">Cancel</a>
{% endfor %}

</form>
<a href="{% url 'starting_page' %}">No i want to maintain my reservation.</a>


<!-- {% if messages%}
<ul>
  {% for message in messages %}

  <li> {{message}}</li>

  {% endfor %}
</ul>
{% endif %} -->
{% endblock%}