{% extends 'base.html'%}
{% load static %}

{% block title%} Cancel Booking {%endblock%}

{% block css_files%}
<link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
{% endblock %}


{%block content%}
<h2>Cancel Booking</h2>

<P>Please enter your user name.</P>
<form  action=" {% url 'booking:cancel'%}" method="GET">

  {% csrf_token %}

  <div class="form-control">
    {{form}}
    
   </div>
  
  <button class="btn-delete" pk="{{ reservation.pk }}" > Cancel Reservation</button>
</form>
<a href="{% url 'starting_page' %}">No i want to maintain my reservation.</a>


{% if messages%}
<ul>
  {% for message in messages %}

  <li> {{message}}</li>

  {% endfor %}
</ul>
{% endif %}
{% endblock%}