{% extends 'base.html' %}
 {% load static %}



    <title>{% block title%}
        JO's Restaurant
        {% endblock%}</title>

   {% block css_files %}

   <link rel="stylesheet" href="{% static "booking/index.css"  %}" />

   {% endblock%}


    {% block content%}
    

    <section class="container">

        <div class="main-image"> 
             <img  id="picture" src="{% static  'booking/images/main-image.jpg'  %}" class="landing_page">
             <div class="word">  <h2>Welcome to JO's restaurant. </h2></div>
        
    
        </div>
       
    
    </section>


    <footer >
        <div class="media">
            <ul class="socials">
                <li>
                    <a
                      href="https://www.facebook.com/"
                      target="_blank"
                      rel="noopenner"
                      aria-label="Visit our facebook page opens in a new tab"
                      ><i class="fa-brands fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/"
                      target="_blank"
                      rel="noopenner"
                      aria-label="Visit our instagram page opens in a new tab"
                      ><i class="fa-brands fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.twitter.com/"
                      target="_blank"
                      rel="noopenner"
                      aria-label="Visit our twitter page opens in a new tab"
                      ><i class="fa-brands fa-square-twitter"></i
                    ></a>
                  </li>
            </ul>
        </div>
        
        <div class="copyright">
            <p class="para">&copy; 2024 JO's restaurant. All rights reserved.</p>
        </div>
        
    </footer>
    <script
      src="https://kit.fontawesome.com/f326954674.js"
      crossorigin="anonymous"></script>

    {% endblock%}
