{% extends "base.html" %}
    {% load static %}

    {% block css_files %}

    <!-- <link rel="stylesheet" href="{% static "booking/book.css"  %}" /> -->
  
    <link rel="stylesheet" type="text/css" href="{% static 'booking/style.css' %}">
    {% endblock%}
<!-- 
    <title>{% block title%}
        Make your booking
        {% endblock%}</title> -->


    {% block content%}
   
     
     <form action="{% url 'booking:reserve' %}" method="POST">
       {% csrf_token%}

       <div class="form-control">
        {{form}}
        
       </div>
    
       <button type="submit" value="submit">Submit </button>
       
     </form>
       

    {% endblock %}
