{% extends "base.html" %}

{% load static %}

{% block title%} A list of all reservations {% endblock%}

{% block css_files %} 


   <link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
   <style>
    #head {
        
        position: relative;
        
    }</style>
   

{% endblock%} 

{% block content %}


<div class="output">
  
       
        {% for reservation in object_list %}
        <div class="tin">
           
            <div class="tin-tin">              
            <h1>Reservation list.</h1>
            <h1>NAME: {{reservation.name_user}} </h1>
            <h1>DATE: {{reservation.date_of_month}}</h1>
            
            <a href="{% url 'booking:single_reservation' reservation.id %}">Summary of reservation.</a>
            </div>
            
        </div>
        {% empty%}

        <h1>You have no reservation.</h1>

       {% endfor %}
</div>

{% endblock%}