{%  extends "base.html" %}

 {% load static %}

 {% block title %} Here is a summary of your booking. {% endblock %}

 {% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
  

    <style>
        #head {
            
            position: relative;
            
        }</style>

 {% endblock %}


 {% block content %}

 {% include 'booking/includes/navbar.html'%}
 {%  if user.is_authenticated %}
 
 <div class="tin">
    <div class="tin-tin">
     <p>A summary of your reservation</p>
    
    <h2>NAME: {{reservation.name_user}}</h2>
          
    <h2>DATE: {{reservation.date_of_month}}</h2>
    
    <h2>GUESTS: {{reservation.number_of_guests}}</h2>
    
    <button class="btn  show-modal  btn-delete submit " data-id='{{ reservation.id }}' > Delete </button>
    <a  class="btn nav-nav-link"   href="{% url 'booking:update' reservation.id %}"> Edit </a>
    </div>

 </div> 


 <div class="modal hidden">
  <p>Are you sure you want to delete this reservation?</p>

    <button class="btn close-modal submit">
        No
    </button>
   
    <a class="btn nav-nav-link"   id="cancelConfirm" href="{% url 'booking:cancel' reservation.id %}" class="btn">Yes</a>
     
 </div>

 {%endif %}


 {% endblock content %}

  {% block extras %}
<script src="{% static 'css/js/modal.js' %}"></script> 
{% endblock %} 