{%  extends "base.html" %}

 {% load static %}

 {% block title %} Here is a summary of your booking. {% endblock %}

 {% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
  

    <style>
        #head {
            
            position: relative;
            
        }</style>

 {% endblock %}


 {% block content %}

 {% include 'booking/includes/navbar.html'%}
 {%  if user.is_authenticated %}
 
 <div class="tin">
    <div class="tin-tin">
     <h3>A summary of your reservation</h3>
    
    <p>NAME: {{reservation.name_user}}</p>
          
    <p>DATE: {{reservation.date_of_month}}</p>
    
    <p>GUESTS: {{reservation.number_of_guests}}</p>
    
    <button class="btn nav-nav-link  show-modal  btn-delete  " data-id='{{ reservation.id }}' > Delete </button>
    <a  class="btn nav-nav-link"   href="{% url 'update' reservation.id %}"> Edit </a>
    </div>

 </div> 


 <div class="modal hidden">
   <div class="modal-modal">
    <p>Are you sure you want to delete this reservation?</p>

    <button class="btn nav-nav-link close-modal ">No</button>
   

    <a class="btn nav-nav-link"   id="cancelConfirm" href="{% url 'cancel' reservation.id %}" class="btn">Yes</a>
   </div>
  
</div>


 <div class="overlay hidden"></div>

 {%endif %}


 {% endblock content %}

  {% block extras %}
<script src="{% static 'css/js/modal.js' %}"></script> 
{% endblock %} 