{%  extends "base.html" %}

 {% load static %}

 {% block title %} Here is a summary of your booking. {% endblock %}

 {% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
    <style>
        #head {
            
            position: relative;
            
        }</style>

 {% endblock %}


 {% block content %}
 {%  if user.is_authenticated %}
 <div class="tin">
    <div class="tin-tin">
     <p>Thank you for your reservation.</p>
    
    <h2>NAME: {{order.name_user}}</h2>
          
    <h2>DATE: {{order.date_of_month}}</h2>
    <button class="btn   btn-delete  show-modal "
    reservation_id="{{ reservation.id }}">Delete</button>
    </div>

 </div>

 <div class="modal hidden  ">
    <button class="close-modal">
        <p>close</p>
    </button>
    <button class="btn"> Delete</div>
      
 </div>

 <div class="overlay hidden">  <p>Are you sure you would like to delete this reservation? This process is irreversible.</p></div>


 
 
 {%endif %}

 <!-- Delete confirmation modal -->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1"
aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
        id="deleteModalLabel">Cancel Reservation</h5>
      <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to cancel your reservation?
      This action cannot be undone.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
        data-bs-dismiss="modal">Close</button>
      <a id="deleteConfirm" href="#" class="btn
        btn-danger">Delete</a>
    </div>
  </div>
</div>
</div> -->
 {% endblock content %}

  {% block extras %}
<script src="{% static 'js/modals.js' %}"></script> 
{% endblock %} 