{% extends 'base.html' %}

{% block title%}Thank YOU! {% endblock%}


 {% block content%}
    
 <section>
   <div class="reservation">
       <h1> RESERVATION</h1>
   </div>
 
    <div class="booked">
       <h2>BOOKED TIME</h2>
       <p> {{review.time}}</p>
  
    </div>

    <div class="date">
       <h2>BOOKED DATE</h2>
       <p>{{review.date}}</p>
    </div>
  
    <div class="guest">
       <h2>NUMBER OF GUESTS</h2>
   <p>{{review.number_of_guests}}</p>
    </div>
  
 </section>

 {% endblock%}