    {% extends 'base.html' %}

     {% block title%}Thank YOU! {% endblock%}

     {% block content%}

    <section>
         <ul>
            <li>
                <a
                  <i class="fa-sharp fa-solid fa-circle-check"></i>
                </a>
              </li>
         </ul>

        <div class="message">
            <h1>Thank You For your Reservation!</h1>
            <p>{{message}}</p>
           
       
    </section>
    
     </div>
      <section>
        <div class="reservation">
            <h1> RESERVATION</h1>
        </div>
      
         <div class="booked">
            <h2>BOOKED TIME</h2>
            <p>10.00</p>
       
         </div>

         <div class="date">
            <h2>BOOKED DATE</h2>
            <p>12/10/2024</p>
         </div>
       
         <div class="guest">
            <h2>NUMBER OF GUESTS</h2>
        <p> 3 guests </p>
         </div>
       
      </section>
    
  
     {% endblock %}