{% extends "base.html" %}

{% load static %}


  {% block title%} A thank you message. {% endblock%} 

 {% block css_files %} 

   
 
   <link rel="stylesheet" type="text/css" href="{% static 'booking/css/index.css' %}">
   <style>
    #head {
      
        position: relative;
      
    }</style>


   {% endblock%}  

  
 {% block content %} 

 

 <!-- <div class="output">

  <H2>Thank You for your reservation!</H2> 
         {% for review in summary %} 
        <ul>
          <li>NAME: {{review.name_user}} </li>
          <li>Number OF GUESTS: {{review.number_of_guests}} </li>
          <li>DATE: {{review.date_of_month}}</li>
         <li>TIME : {{review.time_of_day}}</li>
        </ul>
        
       {% endfor %}
</div>   -->

  {% endblock%}   