@import url('href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

body, html {
   
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#head {
    height: 150px;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    
}

.image img {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    object-fit: cover;
}

.image {
    height: 100vh;
    background-color: red;
}

.text {
    padding: 2rem 3rem;
}



footer{
    background-color: black;
}

.socials  {
    display: flex;
    justify-content:center ;
    padding: 20px;
  
}

.socials li {
    margin-right: 50px;
}

.para {
    text-align: center;
}

