
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %}  {% endblock%}</title>

   {% block css_files%}

    {% endblock %}

</head>
<body>
  
    <header id="head">
        <div class="logo"> <h1>JO's restaurant</h1></div>
        <div class="button">
             <a href="/booking/reservation"
             class="button1 "> <p id="paragraph">Make a Reservation</p></a>
        </div>  
    </header>
    {% block content%}

    {% endblock%}
</body>

{% block extras %}

{% endblock %}
</html>