{% load static %}

<header id="head">
    <div> <a class="no-background" href="{% url 'booking:starting_page'%}">
            <div class="logo">
                <img src="/static/booking/images/logo.png" height="100px" width="100px"></img>
            </div>
        </a></div>

    <div class="button">
        {% if user.is_authenticated %}
        <div>
            <a class="nav-nav-link" href="{% url 'booking:reserve' %}" class="button1 ">
                <p id="paragraph">Make a Reservation</p>
            </a>
            <a class="nav-nav-link" href="{% url 'booking:reservations' %}" class="button1 ">
                <p id="paragraph">Show Reservation</p>
            </a>


        </div>
    </div>

  


    {% endif%}

    <!-- <ul> -->
    {% if user.is_authenticated %}
    <!-- <li class="nav-item"> -->
    <div class="nav">
        <a class="nav-nav-link" class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_logout' %}">Logout</a>
        <!-- </li> -->
        {% else %}
        <!-- <li class="nav-item"> -->
        <a class="nav-nav-link" class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_signup' %}">Register</a>
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <a class="nav-nav-link" class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
            href="{% url 'account_login' %}">Login</a>
        <!-- </li> -->
        {% endif %}
        <!-- </ul> -->


    </div>
</header>